<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IEDriverPath" value="D:\Selenium_Drivers\"/>
    <add key="ChromeDriverPath" value="D:\Selenium_Drivers\test"/>
    <add key="UseIEDriver" value="false"/>
    <add key="WaitForLoadTimeout" value="120"/>
    <add key="RegBasePageUrl" value="http://mdssitecore20180816093646.azurewebsites.net/Account/Register"/>
  </appSettings>
</configuration>